@use "../../../../styles/variables" as *;

.sidenav {
  height: 100%;
  background: #ffffff;
  padding: 0px;
  overflow-y: auto;
  margin-top: 26px;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__accordion {
    // padding-top: 16px;
    margin-top: 24px;
  }

  &__accordionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background: transparent;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $text-secondary;
    transition: all 0.2s ease;

    &:hover {
      background: $primary-light;
      color: $primary-color;
    }
  }

  &__accordionIcon {
    font-size: 12px;
    transition: transform 0.2s ease;
    margin-top: 4px;
    color: $text-muted;
  }

  &__accordionContent {
    padding: 8px 24px;
    background: $background-light;
    border-radius: 0px;
    margin-top: 8px;
    font-size: $font-size-sm;
    color: $text-secondary;
  }
  &__accordionTextandIcon {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__sectionTitle {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
    color: $text-secondary;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    color: $primary-color;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: $primary-light;
    }

    &--active {
      background: $primary-light;
      border-left: 3px solid $primary-color;
    }
  }

  &__itemIcon {
    font-size: 16px;
    width: 20px;
    margin-left: 10px;

    text-align: center;
  }

  &__itemLabel {
    font-size: $font-size-sm;
    color: $text-secondary;
    font-weight: $font-weight-medium;

    .sidenav__item--active & {
      color: $text-secondary;
      // color: $primary-color;
      font-weight: $font-weight-normal;
    }
  }
}
